<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Add Exhibition</title>
</head>
<body>
<h1>Add Exhibition</h1>
<form id="exhibitionForm" method="post">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" required><br><br>

    <label for="description">Description:</label><br>
    <textarea id="description" name="description" required></textarea><br><br>

    <label for="startDate">Start Date:</label><br>
    <input type="date" id="startDate" name="startDate" required><br><br>

    <label for="endDate">End Date:</label><br>
    <input type="date" id="endDate" name="endDate" required><br><br>

    <label for="gallery">Select Gallery:</label><br>
    <select id="gallery" name="gallery" required>
        <!-- Galleries will be dynamically added here -->
    </select><br><br>

    <input type="submit" value="Submit">


</body>
</html>