<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Management</title>
    <script th:src="@{/js/allArtists.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/artist.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">

    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


<div class="topnav" id="myTopnav">
    <a href="#home">Home</a>
    <div class="dropdown">
        <button class="dropbtn active">Artists</button>
        <div class="dropdown-content">
            <a href="/artists">Add Artist</a>
            <a href="/artists/allArtists">View Artist</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn" >Art</button>
        <div class="dropdown-content">
            <a href="/artPieces">Add Art Piece</a>
            <a href="#">View All Art</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn" >Exhibitons</button>
        <div class="dropdown-content">
            <a href="#">Add Exhibition</a>
            <a href="#">View Exhibitions</a>
        </div>
    </div>
    <a href="#about">About</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>

<div id="artists">
    <h1>All Artists</h1>
    <div id="artistList"></div>
</div>
</body>
</html>
